.purply-tint {
	background-color: #f4f2f8;
}

.services-page h1 {
	margin: 25px auto;
}

.services-page h2 {
	text-align: left;
}

.jenna-pitch h2 {
	text-align: center;
	color: #e36414;
}

.services-list h3 {
	padding-top: 25px;
}

.services-list h2 {
	text-align: center;
	padding-top: 66px;
	margin-bottom: 0px;
	color: #2b2c40;
}

h2.first-service {
	padding-top: 0px;
}

.services-links {
	margin-top: -15px;
}

h2.center {
	text-align: center;
}

.shade {
	background-color: #2b2c40a5;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.services-hero {
	display: flex;
	height: 170px;
	margin: auto;
	width: 100%;
	position: relative;
	text-align: center;
	background-image: url('../../images/leaf-microchip.jpeg');
	background-attachment: fixed;
}

.services-hero-h1 {
	color: white;
	font-size: 45px;
	text-align: center;
}

.services-hero-p {
	color: white;
	font-size: 15px;
	margin-top: -25px;
	text-align: center;
	font-weight: bold;
	padding: 0px 35px 0px 35px;
}

@media all and (min-width: 600px) {
	.services-hero {
		display: flex;
		height: 250px;
		margin: 10px auto;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.services-hero-h1 {
		padding-top: 45px;
		font-size: 75px;
	}
	.services-hero-p {
		padding: auto;
		font-size: 25px;
	}
}

@media all and (min-width: 850px) {
	.services-hero {
		height: 300px;
	}
	.services-hero-h1 {
		color: white;
		font-size: 75px;
		text-align: center;
		position: inline;
		padding-top: 45px;
	}
	.services-hero-p {
		color: white;
		font-size: 25px;
		margin: 0;
		text-align: center;
		font-weight: bold;
	}
}

@media all and (min-width: 490px) and (max-width: 600px) {
	.services-hero {
		display: flex;
		height: 125px;
		margin: 10px auto;
		background-size: cover;
	}
}
