@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
}

.wrapper {
  width: 95%;
  margin: auto;
}

.center {
  text-align: center;
}

.topspace {
  margin-top: 50px;
}

.bottomspace {
  margin-bottom: 50px;
}

body {
  font-family: 'Inter', Helvetica;
}

a {
  text-decoration: none;
  color: black;
  transition: linear 1s;
}

a:hover {
  color: #386e6c;
  letter-spacing: 2px;
    transition: linear 1s;
}

img {
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 35px;
}

hr {
  width: 50%;
}

@media all and (min-width: 900px) {
  .group {
    flex-direction: row;
  }
  .wrapper {
    width: 65%;
    margin: auto;
  }
}