footer {
	text-align: center;
}

.footer-details {
	display: flex;
	flex-direction: column;
}

.footer-details .logo {
	max-width: 100px;
	max-height: 100px;
	align-self: center;
	margin-left: 15px;
}

div .footer-contact {
	flex-direction: column;
	vertical-align: middle;
}

.footer-bar {
	color: #a0b1e9;
	background-color: #e36414;
	padding: 5px 0;
	width: 100%;
	margin: 0 0 10px 0;
}

footer .item span,
footer .item .tiny-icons {
	align-self: center;
	padding: 5px;
	vertical-align: middle;
	display: inline-block;
	margin: auto;
}

.lil-r {
	font-size: 12px;
}

.tiny-icons a img {
	width: auto;
	margin: 4px;
}

@media all and (min-width: 600px) {
	.footer-details .logo {
		max-width: 150px;
		max-height: 150px;
		align-self: left;
		margin-left: 25px;
	}

	.footer-details {
		flex-direction: row;
	}

	div .footer-contact {
		flex-direction: column;
		vertical-align: middle;
		padding: 10px;
	}
}
